*{
    box-sizing:border-box;
}
@font-face {
    font-family: "inter";
    src: url(inter.ttf);
}
body{
    background-color:  #0e0e0e;
}
.container1{
    position:absolute;
    left:36px;
    top:36px;
    color:#FFFFFF;
}
.container2{
    position:absolute;
    right:0px;
}
.container3{
    position:absolute;
    left:36px;
    top:782px;
    height:94px;
    width:322px;
    color:#FFFFFF;
}
.container4{
    position:absolute;
    left:46px;
    top:870px;
    font-family:"inter";
    font-size:32px;
    font-weight:300;
    color:#FFFFFF;
}